apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-config
data:
  # 将 values.yaml 里的配置注入环境变量
  WELCOME_MSG: "{{ .Values.appConfig.welcome_message }}"
  ENV_TYPE: "{{ .Values.appConfig.environment }}"
